# SLURM settings that may need changing
#ACCOUNT='KCGC-SL2-CPU'
ACCOUNT='MELLERSH-SL3-CPU'

## ReadGroup Details
# RGPL - ReadGroup Platform e.g. ILLUMINA
PLATFORM='ILLUMINA'
# RGPU - ReadGroup Platform Unit - (instrument id):(run number):(flowcell ID) e.g. A00489:971:HGM3FDSX2
#BARCODE='A00489:971:HGM3FDSX2'



## Locations
WGS="/rcs/project/drs20/rcs-drs20-aht-data-backup/wgs"
GDB="/rds/project/rds-Qr3fy2NTCy0/Data/GenomicsDB"

## Genomes
REF="cf3"
GENOME="canfam3"
FASTA="/rds/project/rds-Qr3fy2NTCy0/Genomes/CanFam3.1/current"
BQSR="/rds/project/rds-Qr3fy2NTCy0/Genomes/CanFam3.1/CanFam3.1.BQSR.bed.gz"
DICT=${FASTA}/${GENOME}.dict
SNPEFF='CanFam3.1.99'

# export UPLOADS=$HOME/uploads

## Software Versions (for cclake)
GATK="gatk-4.2.5.0-gcc-5.4.0-hzdcjga"
SAMTOOLS="samtools-1.15-gcc-5.4.0-elpvwsy"
BCFTOOLS="bcftools-1.9-gcc-5.4.0-b2hdt5n"
BWA="bwa-0.7.17-gcc-5.4.0-42mry2g"
TABIX="tabix-2013-12-16-gcc-5.4.0-xn3xiv7"
PICARD="picard/2.9.2"
