
## Locations
WGS="/rcs/project/drs20/rcs-drs20-aht-data-backup/wgs"
FASTA="/rds/user/es904/hpc-work/genomes/CanFam3.1/current"
GENOME="canfam3"

#WGS="/rcs/project/drs20/rcs-drs20-aht-data-backup/wgs"
#FASTA="/rds/user/es904/hpc-work/genomes/CanFam4.0/current"
#GENOME="canfam4"

# export UPLOADS=$HOME/uploads