
## Locations
WGS="/rcs/project/drs20/rcs-drs20-aht-data-backup/wgs"
FASTA="/rds/project/rds-Qr3fy2NTCy0/Genomes/CanFam3.1/current"
GENOME="canfam3"

#WGS="/rcs/project/drs20/rcs-drs20-aht-data-backup/wgs"
#FASTA="/rds/project/rds-Qr3fy2NTCy0/Genomes/CanFam4.0/current"
#GENOME="canfam4"

# export UPLOADS=$HOME/uploads
